body {
  font-family: 'Playfair Display', serif;
  background-color: #fffafc;
  color: #444;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  padding: 2rem;
  background-color: #fceef2;
}
nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #a15c76;
}
h1, h2 {
  color: #cc6887;
}
form input, form textarea {
  display: block;
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.5rem;
}
button {
  background-color: #ffccda;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
